
<div dropdown-directive></div>
<div class="row">
	<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 layout-column">
		<div class="portlet">
			<div class="portlet-header">Header</div>
			<div class="portlet-content">Content</div>
		</div>
		
			<div class="portlet">
				<div class="portlet-header">Header</div>
				<div class="portlet-content">Content</div>
			</div>
	</div>
	<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 layout-column"> 
			<div class="portlet">
				<div class="portlet-header">Header</div>
				<div class="portlet-content">Content</div>
			</div>
		</div>
</div>